* {
    padding: 0;
    margin: 0;
  }
  
  
  body {
    margin: 0;
    padding: 20px 50px;
    font-family: "游ゴシック", "Yu Gothic", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
    background-color: rgb(223, 218, 213);
    text-align: center;
  }
  
  
  #goatIframe {
    padding: 10px;
    width: 300px;
    height: 160px;
    color: black;
  }
  
  
  .base {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  
  #parentBtn {
    margin: 20px 0;
    padding: 5px 15px;
    background-color: white;
    color: rgb(106, 153, 135);
    border-color: white;
    border-radius: 4px;
    font-size: 15px;
  }
  
  
  #childBtn {
    margin: 20px 0;
    padding: 5px 15px;
    background-color: rgb(106, 153, 135);
    color: white;
    border-color: rgb(106, 153, 135);
    border-radius: 4px;
    font-size: 15px;
  }
